<table class="table table-bordered table-striped data-table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Expiration Date</th>
            <th>Bin</th>
            <th>Bin Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
        <tr data-id="{{itemId}}">
            <td>{{description}}</td>
            <td>{{quantity}}</td>
            <td>{{expirationDate}}</td>
            <td>{{binLabel}}</td>
            <td>{{binLocationName}}</td>
            <td>
                <button class="table-btn btn-edit-item" data-action="edit" data-id="{{itemId}}">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="table-btn btn-delete-item" data-action="delete" data-id="{{itemId}}">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>