{{#each this}}
    {{#if selected}}
        <option value="{{binLocationId}}" selected>{{binLocationName}}</option>
    {{else}}
        <option value="{{binLocationId}}">{{binLocationName}}</option>
    {{/if}}
{{/each}}