{{#each this}}
    {{#if selected}}
        <option value="{{binId}}" selected>{{binLabel}} - {{binLocationName}}</option>
    {{else}}
        <option value="{{binId}}">{{binLabel}} - {{binLocationName}}</option>
    {{/if}}
{{/each}}